.clientTeamsDetailsDiv {
    background-color: aquamarine;
    width: 80%;
    margin: 10px 25px;
    padding: 15px;
    display: flex;
    justify-content: space-around;
}

.clientDetailsDiv {
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}
.clientSpan {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.editClientBtn {
    background-color: #564ef7;
    border: none;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}

.teamsDetailsDiv {
    width: 50%;
    display: flex;
    flex-direction: column;
}
