.home {
    font-size: 150%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    position: relative; 
}

.bgHomePicture{
    opacity: 0.3;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    position: relative;
}


.homeLogo{
    background-image: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(27, 24, 20);
}


 .button1{
  background-color: #2d7191;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.loginButton{
    margin-top: 15px;
    margin-left: .6rem;
}
.homeimg img{
   
    width: 500px;
    height: 600px;
    margin-right: 5rem;
}

.pageContent{
    position: absolute;
    display: flex;
}

.home.bgHomePicture{
    width:100%;
}

.welcomeMessage{
    display: flex;
    text-shadow: 1px 1px rgb(230, 221, 214);
}