* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}
.homeContainerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.homePageHeading {
    margin-top: 20px;
}
.clientsContainerDiv {
    width: 100%;
}
.addClientBtn {
    background-color: #564ef7;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}
button {
    transition: 0.2s ease all;
}
button:hover {
    background-color: #2d25ce;
}
