.skillMatrixGridContainer {
    margin-top: 20px;
    border: 1px solid rgb(145, 144, 144);
    width: 100%;
    height: 70vh; 
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: auto;
    max-width: 90vw;
}

.skillMatrixGridContainer > .skillMatrixGridHeader,
.skillMatrixGridContainer > .skillMatrixGridBody {
    width: 100%;
    border-bottom: 1px solid rgb(145, 144, 144);
}

.skillMatrixGridHeader {
    display: flex;
    font-weight: 500;
    color: black;
}

.skillMatrixGridHeader > .skillMatrixGridHeadingItem {
    padding: 10px;
    background-color: #ededed;
    position: sticky;
    top: 0;
    text-align: center;
}

.skillMatrixGridRow {
    display: flex;
    color: #333;
    flex-direction: row;
}

.skillMatrixGridRow > .skillMatrixGridItem {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1; 
    flex-basis: 0;
}

.skillMatrixGridRow > .skillMatrixGridItemCol {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1; 
    flex-basis: 0;
}

.skillMatrixGridRow > .skillMatrixGridItemInput {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1; 
    flex-basis: 0;
}


.skillMatrixGridItem,
.skillMatrixGridItemInput,
.skillMatrixGridItemCol {
    text-align: center;
    border-right: 1px solid rgb(156, 156, 156);
    border-bottom: 1px solid rgb(156, 156, 156);
    font-weight: 400;
    flex-grow: 1;
}

.categoryname {
    font-size: 1rem;
}

.subcategoryname {
    margin-top: 9px;
}

.inputbox {
    margin-bottom: 4px;
}

.removeBorderRight {
    border-right: 0;
}

.inputfeilds {
    margin-top: 9px;
}
