.clientdropdown {
    margin: 10px;
    margin-left: 2rem;
    padding: 4px;
    cursor: pointer;
}
.card_row {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    width: 100%;
}
.teamcard_container {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    width: 100%;
}
.team_container {
    width: 100%;
}
