.add_button {
    background-color: #564ef7;
    border: none;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    float: right;
    margin: 17px;
    margin-top: 30px;
}
.card_container {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.card_row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}
