.teamsDiv {
    padding: 0 10px 10px;
    display: flex;
    justify-content: space-between;
}
.teamSpan {
    padding-left: 10px;
}
.deleteItemIcon {
    cursor: pointer;
}
.editableInputFields {
    width: 45%;
}
.cardItemRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
}
