.teamsDiv {
    padding: 0 10px 10px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.teamSpan {
    padding-left: 10px;
}
.deleteItemIcon {
    cursor: pointer;
}
.editableInputFields {
    width: 100%;
}
.cardItemRow {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    width: 85%;
}
.inputErrorsContainer {
    width: 45%;
}
.errorMsgSpan {
    font-size: 13px;
    color: red;
}
.rowIcon {
    margin-top: 7px;
}
