.tab{
    background-color: rgb(172, 219, 231);
    background-size: cover;
<<<<<<< HEAD
    height: 90vh;
=======
    height: 88.8vh;
>>>>>>> 8c7a6ae06c65ef36a4f899c07baec184c72a0167
    padding-top: 1rem;
    justify-content: center;
  } 
  .tab h2{
    display: flex;
    justify-content: center;
  }
  .app {
    display: flex;
    margin-left: 17rem;
  }
  .heads{
    display: flex;
    justify-content: center;
  }
  .heads select{
    padding: 5px;
    margin: 1rem;
    border: none;
    box-sizing: 2px;
    text-align: center;
  }