.tab{
  background-image: linear-gradient(to right,  #7883e7 , rgb(196, 190, 247));
    background-size: cover;
    height: 90vh;
    padding-top: 1rem;
    justify-content: center;
  } 
  .tab h2{
    display: flex;
    justify-content: center;
  }
  .app {
    display: flex;
    margin-left: 17rem;
   
  }

  canvas{
    background-color: rgb(254, 255, 255);
    height: auto !important;
    width: 75% !important;
    padding: 1rem;
  }

  .heads{
    display: flex;
    justify-content: center;
  }
  .heads select{
    padding: 5px;
    margin: 1rem;
    border: none;
    box-sizing: 2px;
    text-align: center;
  }

  /* .btn{
    display: flex;
    position: absolute;
    justify-items: center;
    justify-self: center;
    margin-left: 10rem;
  } */
  /* .btn button{
     margin-left: 1rem;
  }
  .complete{
    background-color:  rgb(26, 230, 43,0.5);
    padding: 5px;
    width: 3vw;
    height: 2vh;
  
  }

  .incomplete{
    background-color: rgba(245, 16, 16, 0.692);
    padding: 5px;
    width: 3vw;
    height: 2vh;

  }
  .inprogress{
    background-color:rgb(247, 180, 36,0.5);
    padding: 5px;
    width: 3vw;
    height: 2vh;
  }

  .chart{
    margin-top: 2rem;
  } */