.tab{
  background-image: linear-gradient(to right,  #7883e7 , rgb(196, 190, 247));
  background-image: linear-gradient(to right,  #7883e7 , rgb(196, 190, 247));
    background-size: cover;
    height: 90vh;
    padding-top: 1rem;
    justify-content: center;
  } 
  .tab h2{
    display: flex;
    justify-content: center;
  }
  .app {
    display: flex;
    margin-left: 17rem;
   
  }

  canvas{
    background-color: rgb(254, 255, 255);
    height: auto !important;
    width: 75% !important;
    padding: 1rem;
  }

  .heads{
    display: flex;
    justify-content: center;
  }
  .heads select{
    padding: 5px;
    margin: 1rem;
    border: none;
    box-sizing: 2px;  
    text-align: center;
  }