
  .card_column {
    min-width: 33%;
    max-width: 33%;
    padding: 15px 15px;
    height: 60%;
  }
  
  .card_row {margin:5px;}
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    height: 100%;
  }
  .add_button{
      background-color: #564ef7;
      border: none;
      color: white;
      padding: 5px 4px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 11px;
      cursor: pointer;
      border-radius: 5px;
      height: 28px;
      margin-top: 5px;
      /* margin-right: 30px; */
  }
  .header{
    display: flex;
    justify-content: space-between;
  }
  .card_heading{
    font-weight: 500;
    font-size: 1.4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 65%;
    vertical-align: middle;
    cursor: default;
    position: relative;
  }
  .card_heading:hover::after {
    content: attr(data-text);
    position: absolute;
    top: 100%;
    left: 0;
    white-space: normal;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    max-width: 300px;
    line-height: 1.3;
  }

  .card_desc{
    margin-right: auto;
    
  }
  .card_desc h5{
    margin-left: 15px;
    margin-top: 6px;
    font-size: 1rem;
  }
  .teamlist{
    text-align: left;
    overflow-y: scroll;
  }